<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../CSS/main.css" />

	<title>{% block head_title %}{% endblock %}</title>

</head>

<header>
  <img src="../resources/logo.png" id="logo"/>

  <!--
  <div id="login">
    <form>

    </form>
  </div>
  -->

  <nav>
    <ul>
      <li><a href="#">Register</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Your Boards</a></li>
      <li><a href="#">News Feeds</a></li>
    </ul>
  </nav>

</header>
<div id="mainbody">
<aside>
  <div>
    <img src="../resources/person.jpg" id="person" />



    <h2>Personal Picks</h2>
    <ul>
      <li><a href="#">Friends</a></li>
      <li><a href="#">Cars</a></li>
      <li><a href="#">Porn</a></li>
      <li><a href="#">Web Development</a></li>
      <li><a href="#">Go Karts</a></li>
    </ul>
  </div>



  <div>
    <h2>Kiwawi Social</h2>
    <ul>
      <li><a href="#">Trending</a></li>
      <li><a href="#">Random</a></li>
      <li><a href="#">Top News</a></li>
      <li><a href="#">Loudest Contributers</a></li>
    </ul>
  </div>

</aside>

<div id="maincontent">
  <div id="boards">
  <div id="line1">
                  <div id="boardcontent">
                      <p>Tile go here</p>
                      <img src="../resources/test.jpg" width="250px" height="250px" />
                  </div>
                  <div id="boardcontent">
                      <p>Tile go here</p>
                      <img src="../resources/test.jpg" width="250px" height="250px" />
                  </div>
                  <div id="boardcontent">
                      <p>Tile go here</p>
                      <img src="../resources/test.jpg" width="250px" height="250px" />
                  </div>
                  <div id="boardcontent">
                      <p>Tile go here</p>
                      <img src="../resources/test.jpg" width="250px" height="250px" />
                  </div>
  </div>
                  <div id="line2">
                      <div id="boardcontent">
                          <p>Tile go here</p>
                          <img src="../resources/test.jpg" width="250px" height="250px" />
                      </div>
                      <div id="boardcontent">
                          <p>Tile go here</p>
                          <img src="../resources/test.jpg" width="250px" height="250px" />
                      </div>
                      <div id="boardcontent">
                          <p>Tile go here</p>
                          <img src="../resources/test.jpg" width="250px" height="250px" />
                      </div>
                      <div id="boardcontent">
                          <p>Tile go here</p>
                          <img src="../resources/test.jpg" width="250px" height="250px" />
                      </div>
  </div>
                    <div id="line3">
                        <div id="boardcontent">
                            <p>Tile go here</p>
                            <img src="../resources/test.jpg" width="250px" height="250px" />
                        </div>
                        <div id="boardcontent">
                            <p>Tile go here</p>
                            <img src="../resources/test.jpg" width="250px" height="250px" />
                        </div>
                        <div id="boardcontent">
                            <p>Tile go here</p>
                            <img src="../resources/test.jpg" width="250px" height="250px" />
                        </div>
                        <div id="boardcontent">
                            <p>Tile go here</p>
                            <img src="../resources/test.jpg" width="250px" height="250px" />
                        </div>
  </div>

</div>


</div>
</div>
<footer>

<div id ="footloose">
  <a href="#">Contacts Us</a>

  <a href="#">About Us</a>
</div>
</footer>

</html>
