{% extends "base.html" %}
 {% block head_title %}
Board-'Em' | Your Choice of Freedom in Social Media
{% endblock %}

{% block content %}
		<p>
	You will soon be part of the best tech friendly Social Blog site around!
	</p>
  <h1>Your Choice of Freedom in Social Media | Board-'Em'</h1>
  <br>
  <h2>What is Board-'Em'?</h2>

  <p>
  Board-'Em' is a new type of social media website that is ment to bring Bloging, Vloging, Sloging,
  Moging.... whatever, to social media. Being able to share anything that you enjoy and enjoy other content
  the way they want it to be viewed.
  </p>

{% endblock %}
